main {
    text-align: center;
    width:800px;
    height:1550px;
}
main img {
    width: 800px;
    height: 600px;
    margin-left: -3px;
}
main span {
    font-size: 22px;
}
p {
    display: none;
}
@media (max-width: 767px) {
  main img {
    width: 100%;
    height: 300px;
  }
  main {
    width:350px;
    height:1900px;
  }  
  p {
    display: block;
  }
}
