main {
    height:1800px;
}
.quiz-container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 767px) {
	main {
		height:2000px;
	}
}
@media (min-width: 768px) and (max-width: 1400px) {
   
}